@import "tailwindcss";

@font-face {
	font-family: "Poppins";
	src: url(./font/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Poppins-bold";
	src: url(./font/Poppins-Bold.ttf);
}

:root {
	--poppins-bold: "Poppins-bold";

	font-family: Poppins;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
